@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap");

:root {
  --cor-primaria: #000000;
  --cor-secundaria: #f6f6f6;
  --cor-terciaria: #22d4fd;
  --cor-hover: #0f6d86;

  --fonte-primaria: "Krona One", sans-serif;
  --fonte-secundaria: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-terciaria);
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

/* BOTÕES */

.apresentacao__links__link {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 50%;
  padding: 12px 18px;

  border: 2px solid var(--cor-terciaria);
  border-radius: 8px;

  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--cor-secundaria);
  font-family: var(--fonte-secundaria);

  transition: all 0.3s ease;
}

.apresentacao__links__link img {
  width: 24px;
  height: 24px;
}

.apresentacao__imagem {
  width: 50%;
  height: auto;
  border-radius: 20px;
  border: 4px solid var(--cor-terciaria);
}
/* EFEITO HOVER */

.apresentacao__links__link:hover {
  background-color: var(--cor-terciaria);
  color: var(--cor-primaria);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(34, 212, 253, 0.4);
}

/* FOTO PRINCIPAL */

.apresentacao > img {
  width: 350px;
  height: auto;
  border-radius: 20px;
  border: 4px solid var(--cor-terciaria);
}

/* RESPONSIVO */

@media (max-width: 768px) {
  .apresentacao {
    flex-direction: column-reverse;
    text-align: center;
  }

  .apresentacao > img {
    width: 250px;
    margin-bottom: 30px;
  }

  .apresentacao__conteudo {
    width: auto;
  }

  .apresentacao__links {
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }
  .cabecalho__menu {
    justify-content: center;
  }
  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo {
    width: auto;
    text-align: center;
  }
}
